# Build artifacts
IndoorLoc/build/
IndoorLoc/web/
IndoorLoc/scss/
IndoorLoc/vendor/

Edgecomp/vendor/
Edgecomp/scss/

# Large media files
*.mp4
*.mp3
*.gif

# Large documents
*.pdf

# Large data/config
v2ray.txt
tbd.png

# OS files
Thumbs.db
.DS_Store
