<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="北京交通大学系统与网络实验室，主要研究：移动云计算，边缘计算，数据中心网络，物联网，无线传感网，室内定位，二维码，区块链，大数据处理，空间信息网络。"/>
    <meta name="keywords" content="移动云计算，边缘计算，数据中心网络，物联网，无线传感网，室内定位，二维码，区块链，大数据处理，空间信息网络"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h2 class="project-name">北京交通大学系统与网络实验室</h2>
      <h2 class="project-tagline">Systems and Networking Group @ BJTU</h2>
      {% if site.github.is_project_page %}
        <a href="en.html" class="btn">English</a>
        <a href="index.html" class="btn">招生说明</a>
        <a href="project.html" class="btn">承担项目</a>
        <a href="Demo.html" class="btn">系统展示</a>
        <a href="http://scit.bjtu.edu.cn/cms/staff/8530/?cat=102" class="btn">导师介绍</a>
      {% endif %}
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
        <span class="site-footer-owner">© 2019 Weiwei Fang. All Rights Reserved. <a href="http://statcounter.com/" target="_blank" title="Web Analytics Made Easy - StatCounter"><img alt="Web Analytics Made Easy - StatCounter" src="//c.statcounter.com/11657787/0/268d6588/1/" /></a>
            <a href=https://fangvv.gitee.io/homepage/Edgecomp>边缘计算</a>&nbsp;
            <a href=https://fangvv.gitee.io/homepage/IndoorLoc/>室内定位</a>&nbsp;
            <a href=https://fangvv.gitee.io/homepage/BlockchainBJTU/>区块链</a> </span>
        {% endif %}
      </footer>
    </section>
  </body>
</html>
