<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h2 class="project-name">北京交通大学系统与网络研究组</h2>
      <h2 class="project-tagline">Systems and Networking Group @ BJTU</h2>
      {% if site.github.is_project_page %}
        <a href="index.html" class="btn">招生说明</a>
        <a href="group.html" class="btn">研究近况</a>
        <a href="Demo.html" class="btn">系统展示</a>
		<a href="https://scholar.google.com/citations?user=xc5CaQEAAAAJ" class="btn" target="_blank">学术论文</a>
        <a href="http://scit.bjtu.edu.cn/cms/staff/8530/?cat=102" class="btn" target="_blank">学校主页</a>
      {% endif %}
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">本页面源码</a>由<a href="http://scit.bjtu.edu.cn/faculty_show.action?id=349">方维维</a>维护.</span>
        {% endif %}
      </footer>
    </section>
  </body>
</html>
